config general
	option enable '0'
	option udp '0'
	option startup_delay '5'
	option redirect_port '12345'
	option self_proxy '0'
	option ipv6_proxy '1'
	option so_mark '0xff'
	option tproxy_port_process_runat_user 'hysteria'
	list skip_lan_ip '192.168.1.211'
	list skip_lan_mac ''
	list ipsetname ''
	list ipset6name ''
